In [ ]:
numbers = [1, 2, 3, 4, 5]

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers[2]

In [ ]:
food = ["pizza", "burger", "sushi", "pasta"]
food[0] = "fried chicken"
print(food)

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.append(6)
print(numbers)

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.insert(1, "orange")
print(fruits)

In [ ]:
foods = ["pizza", "burger", "sushi", "pasta"]
foods.remove("sushi")

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)

print(foods)
print(numbers)

In [ ]:
numbers = [4, 2, 5, 1, 3]
numbers.sort()
print(numbers)

In [ ]:
numbers = [4, 2, 5, 1, 3]
sorted(numbers)

In [ ]:
fruits = ["apple", "banana", "cherry", "mango", "grape"]
fruits[0:5:2]

In [ ]:
numbers = (1, 2, 3, 4, 5)
print(numbers)